* {
    font-family: 'Rubik', sans-serif;
}

div.yellow-section {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(#FFC611, #F3D84D);
}

div.yellow-section h3.yellow-section-title {
    margin-top: 150px;
    margin-left: 64px;
    font-weight: 500;
    font-size: 44px;
    line-height: 56px;
}

div.yellow-section p.yellow-section-subtitle {
    margin-top: 10px;
    margin-left: 64px;
    font-weight: normal;
    color: #333333B2;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -2.2%;
}

div.image-testimoni-group {
    height: 600px;
    width: 100%;
    position: absolute;
    display: inline-flex;
    margin: 0;
}

div.image-testimoni-group div.image-testimoni-item {
    width: 100%;
    margin: 0 !important;
    cursor: pointer;
}

div.image-testimoni-group div.image-testimoni-item img.img-testimoni {
    position: absolute;
    width: 379.8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: grayscale(100%);
}

div.image-testimoni-group div.image-testimoni-item {
    position: relative;
    z-index: 2;
    width: 379.8px;
    height: 633px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.image-testimoni-group div.image-testimoni-item div.circle-button-read {
    width: 160px;
    height: 160px;
    background-color: #000000 !important;
    opacity: 0.8;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

div.image-testimoni-group div.image-testimoni-item div.circle-button-read a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1%;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width:600px) {
    div.yellow-section {
        width: 100%;
        height: 190px;
        background-image: linear-gradient(#FFC611, #F3D84D);
    }
    div.yellow-section h3.yellow-section-title {
        margin-top: 54px;
        margin-left: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }
    div.yellow-section p.yellow-section-subtitle {
        max-width: 297px;
        margin-top: 17px;
        margin-left: 24px;
        font-weight: normal;
        font-style: normal;
        color: #333333B2;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -2.2%;
        text-align: justify;
    }
    div.image-testimoni-group {
        height: 600px;
        width: 100%;
        position: absolute;
        display: inline-flex;
        margin: 0;
    }
    div.image-testimoni-group div.image-testimoni-item img.img-testimoni {
        position: absolute;
        width: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        filter: grayscale(100%);
    }
}
